@import 'modules/mixin';
@import 'modules/variable';
@import 'modules/svg-animation';
@import 'modules/hero-slider';
@import 'modules/mobile-menu';
@import 'modules/appear';
@import 'modules/text-animation';
@import 'breakpoints/base';

@media (min-width: 600px) {
  @import 'breakpoints/600up';
}

@media (min-width: 960px) {
  @import 'breakpoints/960up';
}

@media (min-width: 1200px) {
  @import 'breakpoints/1200up';
}