@charset "UTF-8";
.swiper-container {
  overflow: visible !important;
  height: 90vh;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active .hero__title {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-container2 {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.swiper-container2 > img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.swiper-container3 {
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-top: 15vw;
}

.swiper-container3 > img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.p-firstview__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  z-index: 1000;
}

.p-firstview__text {
  color: #fff;
  letter-spacing: 4px;
  font-size: 24px;
  line-height: 2;
}

@media (min-width: 600px) {
  .p-firstview__text {
    font-size: 32px;
    letter-spacing: 4px;
    line-height: 3;
  }
}

@media (min-width: 960px) {
  .p-firstview__text {
    font-size: 40px;
  }
}

.scrolldown-wrap .scrolldown {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -25px;
  z-index: 2;
  padding: 10px 10px 90px;
  overflow: hidden;
  color: #2b2b2b;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.scrolldown-wrap .scrolldown::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #2b2b2b;
}

.scrolldown-wrap .scrolldown::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 80px;
  background: rgba(54, 54, 54, 0.4);
}

.scrolldown-wrap .scrolldown::after {
  height: 30px;
  -webkit-animation: sdl 2.5s ease infinite;
          animation: sdl 2.5s ease infinite;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  50%,
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  50%,
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@-webkit-keyframes sdl-lr {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  50%,
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@keyframes sdl-lr {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  50%,
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

@media (min-width: 600px) {
  .scrolldown-wrap .scrolldown {
    right: 45px;
    bottom: -105px;
    font-size: 20px;
    padding-bottom: 200px;
  }
  .scrolldown-wrap .scrolldown::before {
    bottom: -100px;
    height: 280px;
  }
  .scrolldown-wrap .scrolldown::after {
    -webkit-animation: sdl-lr 2.5s ease infinite;
            animation: sdl-lr 2.5s ease infinite;
  }
}

@media (min-width: 960px) {
  .scrolldown-wrap .scrolldown {
    right: 45px;
    bottom: -65px;
    font-size: 20px;
    padding-bottom: 200px;
  }
  .scrolldown-wrap .scrolldown::before {
    bottom: -100px;
    height: 280px;
  }
  .scrolldown-wrap .scrolldown::after {
    -webkit-animation: sdl-lr 2.5s ease infinite;
            animation: sdl-lr 2.5s ease infinite;
  }
}

@media (min-width: 1200px) {
  .scrolldown-wrap .scrolldown {
    bottom: -96px;
    font-size: 1.6rem;
  }
}

.header {
  width: 100%;
  background-color: transparent;
}

.header .mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 4000;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-bottom: 1px solid #242424;
}

.header .logo__img {
  display: inline-block;
  margin: 2px 10px 0 20px;
}

.header .logo {
  background-image: url(/images/common/riv_logo_official2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 48px;
  width: 90px;
}

.header .mobile-button {
  position: fixed;
  top: 16px;
  right: 10px;
  z-index: 200;
}

.header .mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.header .mobile-menu__btn > span {
  background-color: black;
  width: 25px;
  height: 1px;
  display: block;
  margin-bottom: 7px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.header .mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .header .mobile-menu__btn span {
    width: 35px;
    margin-bottom: 9px;
  }
}

.header .pc-container {
  display: none;
}

@media (min-width: 960px) {
  .header .sp-navbtn {
    display: none;
  }
  .header .mobile-container {
    display: none;
  }
  .header .pc-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .pc-container .pc-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .pc-container .pc-nav-item {
    font-size: 1.6rem;
    padding-top: 2vw;
    padding-right: 5vw;
  }
}

.menu-open.mobile-menu {
  opacity: 1;
  z-index: 3000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: none;
          transform: none;
}

.menu-open.header__logo {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.menu-open .mobile-menu__btn > span {
  background-color: black;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(6px) rotate(135deg);
          transform: translateY(6px) rotate(135deg);
}

@media (min-width: 600px) {
  .menu-open .mobile-menu__btn > span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(135deg);
            transform: translateY(10px) rotate(135deg);
  }
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-10px) rotate(-135deg);
          transform: translateY(-10px) rotate(-135deg);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu__nav {
  display: block;
  text-align: center;
  padding-top: 35vw;
}

.mobile-menu__list {
  width: 100%;
  font-size: 0.9em;
  top: 164px;
  text-align: center;
  list-style: none;
}

.mobile-menu__item {
  margin-bottom: 50px;
}

.mobile-menu__item a {
  letter-spacing: 4px;
}

.mobile-menu .reserve-btn-wrap h4 {
  font-size: 12px;
  margin-bottom: 10px;
}

.mobile-menu .reserve-btn-wrap .reserve-btn {
  border: 1px solid #2b2b2b;
  display: inline-block;
  margin-bottom: 25px;
  width: 172px;
}

.mobile-menu .reserve-btn-wrap .reserve-btn span {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px 20px 10px 10px;
  font-size: 12px;
}

.mobile-menu .reserve-btn-wrap .reserve-btn-net span {
  position: relative;
  letter-spacing: 2px;
}

.mobile-menu .reserve-btn-wrap .reserve-btn-net span::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 5px;
  height: 12px;
  width: 12px;
  background-image: url(/images/common/icon-link-1-black.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-menu .reserve-btn-wrap .reserve-btn-tel span {
  letter-spacing: 4px;
}

.mobile-menu .reserve-btn-wrap .reserve-btn-tel span::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 10px;
  height: 12px;
  width: 12px;
  background-image: url(/images/common/icon-tel.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  .mobile-menu__nav {
    padding-top: 25vw;
  }
  .mobile-menu__list {
    font-size: 1.2rem;
  }
  .mobile-menu .reserve-btn-wrap h4 {
    font-size: 18px;
  }
  .mobile-menu .reserve-btn-wrap .reserve-btn {
    width: 240px;
  }
  .mobile-menu .reserve-btn-wrap .reserve-btn span {
    padding: 15px 30px 15px 20px;
    font-size: 16px;
  }
  .mobile-menu .reserve-btn-wrap .reserve-btn span::after {
    top: 16px;
    right: 12px;
    width: 18px;
    height: 18px;
  }
}

.reserve-btn-js {
  position: fixed;
  bottom: 3%;
  left: 0;
  z-index: 9999;
}

.reserve-btn-js__01 {
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: 9999;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-right: 2px solid #2b2b2b;
  height: 110px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid #a0a0a0;
}

.reserve-btn-js__01 span {
  font-size: 14px;
}

.reserve-btn-js__02 {
  position: absolute;
  bottom: 5%;
  left: 0;
  height: 110px;
  background-color: #f0f0f0;
  padding: 20px 20px;
  border-right: 2px solid #2b2b2b;
  border-bottom: 1px solid #a0a0a0;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6000;
  text-align: center;
}

.reserve-btn-js__02 a {
  position: relative;
  display: block;
  padding-top: 10px;
  color: #2b2b2b;
  font-size: 14px;
}

.reserve-btn-js__02 a::before {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0px;
  margin: auto;
  content: '';
  display: block;
  text-align: center;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.reserve-btn-js__02 .tel {
  margin-top: 15px;
}

.reserve-btn-js__02 .tel a::before {
  background-image: url(/images/common/icon-tel.png);
}

.reserve-btn-js__02 .net {
  margin-top: 15px;
}

.reserve-btn-js__02 .net a::before {
  background-image: url(/images/common/icon-link-1-black.png);
}

.reserve-btn-js .js-left {
  -webkit-clip-path: inset(0 80% 0 0);
          clip-path: inset(0 80% 0 0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.reserve-btn-js .js-left.visible {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.reserve-btn-js__01.js-reserve {
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.sp-navbtn {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: .7;
  height: 10vh;
  width: 100%;
  z-index: 2000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sp-navbtn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 77vw;
  margin: auto;
}

.sp-navbtn__container a {
  position: relative;
  color: #2b2b2b;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  padding-right: 20px;
}

.sp-navbtn__container .tel {
  letter-spacing: 2px;
}

.sp-navbtn__container a:hover,
.sp-navbtn__container a:active {
  text-decoration: underline;
}

.hide.sp-navbtn {
  visibility: hidden;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.appear.up .item {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.appear.down .item {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.appear.left .item {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.appear.right .item {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.appear.skew .item {
  -webkit-transform: translateX(30px) translateY(30px);
          transform: translateX(30px) translateY(30px);
}

.appear .item {
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}

.appear.inview .item:nth-child(11) {
  -webkit-transition-delay: 5.5s;
          transition-delay: 5.5s;
}

.appear.inview .item:nth-child(12) {
  -webkit-transition-delay: 6s;
          transition-delay: 6s;
}

.appear.inview .item:nth-child(13) {
  -webkit-transition-delay: 6.5s;
          transition-delay: 6.5s;
}

.appear.inview .item:nth-child(14) {
  -webkit-transition-delay: 7s;
          transition-delay: 7s;
}

.appear.inview .item:nth-child(15) {
  -webkit-transition-delay: 7.5s;
          transition-delay: 7.5s;
}

.appear.inview .item:nth-child(16) {
  -webkit-transition-delay: 8s;
          transition-delay: 8s;
}

.appear.inview .item:nth-child(17) {
  -webkit-transition-delay: 8.5s;
          transition-delay: 8.5s;
}

.appear.inview .item:nth-child(18) {
  -webkit-transition-delay: 9s;
          transition-delay: 9s;
}

.appear.inview .item:nth-child(19) {
  -webkit-transition-delay: 9.5s;
          transition-delay: 9.5s;
}

.appear.inview .item:nth-child(20) {
  -webkit-transition-delay: 10s;
          transition-delay: 10s;
}

.appear.inview .item:nth-child(21) {
  -webkit-transition-delay: 10.5s;
          transition-delay: 10.5s;
}

.appear.inview .item:nth-child(22) {
  -webkit-transition-delay: 11s;
          transition-delay: 11s;
}

.appear.inview .item:nth-child(23) {
  -webkit-transition-delay: 11.5s;
          transition-delay: 11.5s;
}

.appear.inview .item:nth-child(24) {
  -webkit-transition-delay: 12s;
          transition-delay: 12s;
}

.appear.inview .item:nth-child(25) {
  -webkit-transition-delay: 12.5s;
          transition-delay: 12.5s;
}

.appear.inview .item:nth-child(26) {
  -webkit-transition-delay: 13s;
          transition-delay: 13s;
}

.appear.inview .item:nth-child(27) {
  -webkit-transition-delay: 13.5s;
          transition-delay: 13.5s;
}

.appear.inview .item:nth-child(28) {
  -webkit-transition-delay: 14s;
          transition-delay: 14s;
}

.appear.inview .item:nth-child(29) {
  -webkit-transition-delay: 14.5s;
          transition-delay: 14.5s;
}

.appear.inview .item:nth-child(30) {
  -webkit-transition-delay: 15s;
          transition-delay: 15s;
}

.appear.inview .item:nth-child(31) {
  -webkit-transition-delay: 15.5s;
          transition-delay: 15.5s;
}

.appear.inview .item:nth-child(32) {
  -webkit-transition-delay: 16s;
          transition-delay: 16s;
}

.appear.inview .item:nth-child(33) {
  -webkit-transition-delay: 16.5s;
          transition-delay: 16.5s;
}

.appear.inview .item:nth-child(34) {
  -webkit-transition-delay: 17s;
          transition-delay: 17s;
}

.appear.inview .item:nth-child(35) {
  -webkit-transition-delay: 17.5s;
          transition-delay: 17.5s;
}

.appear.inview .item:nth-child(36) {
  -webkit-transition-delay: 18s;
          transition-delay: 18s;
}

.appear.inview .item:nth-child(37) {
  -webkit-transition-delay: 18.5s;
          transition-delay: 18.5s;
}

.appear.inview .item:nth-child(38) {
  -webkit-transition-delay: 19s;
          transition-delay: 19s;
}

.appear.inview .item:nth-child(39) {
  -webkit-transition-delay: 19.5s;
          transition-delay: 19.5s;
}

.clip-js,
.clip-js1,
.clip-js2 {
  -webkit-transition: all 1.8s ease;
  transition: all 1.8s ease;
}

.clip-js.left,
.clip-js1.left,
.clip-js2.left {
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
}

.clip-js.right,
.clip-js1.right,
.clip-js2.right {
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
}

.clip-js.top,
.clip-js1.top,
.clip-js2.top {
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
}

.clip-js.top-left,
.clip-js1.top-left,
.clip-js2.top-left {
  -webkit-clip-path: inset(0 100% 100% 0);
          clip-path: inset(0 100% 100% 0);
}

.clip-js.bottom,
.clip-js1.bottom,
.clip-js2.bottom {
  -webkit-clip-path: inset(100% 0 0 0);
          clip-path: inset(100% 0 0 0);
}

.clip-js.center,
.clip-js1.center,
.clip-js2.center {
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.clip-js.circle,
.clip-js1.circle,
.clip-js2.circle {
  -webkit-clip-path: circle(0 at 50% 50%);
          clip-path: circle(0 at 50% 50%);
}

.clip-js.skew,
.clip-js1.skew,
.clip-js2.skew {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
}

.clip-js.transform,
.clip-js1.transform,
.clip-js2.transform {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0);
  -webkit-transition: all 1.4s cubic-bezier(0.55, 0.06, 0.33, 1.85);
  transition: all 1.4s cubic-bezier(0.55, 0.06, 0.33, 1.85);
  -webkit-transform: translateX(-30px) scale(0.86) skew(8deg);
          transform: translateX(-30px) scale(0.86) skew(8deg);
}

.clip-js.reveal.left, .clip-js.reveal.right, .clip-js.reveal.top, .clip-js.reveal.top-left, .clip-js.reveal.bottom, .clip-js.reveal.center,
.clip-js1.reveal.left,
.clip-js1.reveal.right,
.clip-js1.reveal.top,
.clip-js1.reveal.top-left,
.clip-js1.reveal.bottom,
.clip-js1.reveal.center,
.clip-js2.reveal.left,
.clip-js2.reveal.right,
.clip-js2.reveal.top,
.clip-js2.reveal.top-left,
.clip-js2.reveal.bottom,
.clip-js2.reveal.center {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}

.clip-js.reveal.circle,
.clip-js1.reveal.circle,
.clip-js2.reveal.circle {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}

.clip-js.reveal.skew,
.clip-js1.reveal.skew,
.clip-js2.reveal.skew {
  -webkit-clip-path: polygon(0 0, 200% 0, 0 200%);
          clip-path: polygon(0 0, 200% 0, 0 200%);
}

.clip-js.reveal.transform,
.clip-js1.reveal.transform,
.clip-js2.reveal.transform {
  -webkit-clip-path: polygon(0 0, 200% 0, 0 200%);
          clip-path: polygon(0 0, 200% 0, 0 200%);
  -webkit-transform: translateX(0) scale(1) skew(0);
          transform: translateX(0) scale(1) skew(0);
}

.clip-js1,
.clip-js2 {
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
}

.clip-js-bg {
  -webkit-transition: all 1.8s ease;
  transition: all 1.8s ease;
}

.clip-js-bg.skew {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(-60%, 60%);
          transform: translate(-60%, 60%);
}

.clip-js-bg.skew2 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate(60%, 60%);
          transform: translate(60%, 60%);
}

.clip-js-bg.reveal.skew {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.clip-js-bg.reveal.skew2 {
  -webkit-transform: translate(0);
          transform: translate(0);
}

body {
  margin: 0;
  color: #2b2b2b;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Serif JP", serif;
}

body.hidden {
  overflow: hidden;
}

.superwrapper {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

dd {
  margin-bottom: 0;
}

.c-container {
  padding: 0 7vw;
}

.c-txt-lr {
  font-size: 1.5rem;
  letter-spacing: 5px;
  line-height: 2;
  color: #5a5a5a;
  margin-top: 0;
  font-weight: 100;
}

.c-txt-md {
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2;
  color: #5a5a5a;
  margin: 0;
}

.c-txt-sm {
  font-size: 0.8rem;
  letter-spacing: 3px;
  line-height: 2;
  color: #5a5a5a;
}

.c-txt-xs {
  font-size: 0.5rem;
  letter-spacing: 2px;
  line-height: 2;
  color: #5a5a5a;
}

.c-title {
  font-weight: 100;
  letter-spacing: 5px;
  display: inline-block;
}

.view-more {
  margin-top: 10vw;
  text-align: right;
}

.view-more span {
  display: inline-block;
  letter-spacing: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid #6e6e6e;
}

.icon-tel {
  position: relative;
}

.icon-tel::before {
  content: "";
  display: block;
  background-image: url(/images/common/icon-tel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  width: 19px;
}

.icon-map {
  position: relative;
}

.icon-map::before {
  content: "";
  display: block;
  background-image: url(/images/common/icon-map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  width: 19px;
}

.icon-net {
  position: relative;
}

.icon-net::before {
  content: "";
  display: block;
  background-image: url(/images/common/icon-calendar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  width: 19px;
}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: #2b2b2b;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 5px;
}

.icon-insta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/images/common/icon-insta-gr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  width: 19px;
}

.insta-link {
  text-align: right;
  margin-bottom: 10px;
}

.insta-link span {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  padding-right: 15px;
  border-bottom: 1px solid #5a5a5a;
  font-size: 14px;
  color: #5a5a5a;
}

.insta-link span::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 18px;
  width: 18px;
  background-image: url(../images/common/icon-insta-gr.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.insta-link span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 8px;
  width: 8px;
  background-image: url(../images/common/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.c-top-view {
  height: 25vh;
}

@media (min-width: 600px) {
  .c-top-view {
    height: 30vh;
  }
}

@media (min-width: 1200px) {
  .c-top-view {
    height: 30vh;
  }
}

.p-firstview {
  position: relative;
}

.p-firstview .swiper-container {
  height: 91vh;
}

@media (max-width: 1199px) {
  .p-firstview .swiper-container .view-pc {
    display: none;
  }
}

.p-concept {
  background-color: #fafafa;
  padding: 20vw 0 10vw 0;
}

.p-concept .c-txt-md {
  margin-bottom: 20px;
}

.p-concept__title {
  padding-bottom: 10vw;
}

.p-instagram__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.p-instagram__img a {
  width: 33%;
}

@media (min-width: 960px) {
  .p-instagram__img {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
  .p-instagram__img a {
    width: 25%;
  }
  .p-instagram .insta-link {
    text-align: center;
  }
  .p-instagram .insta-link span {
    font-size: 34px;
    padding-left: 50px;
    padding-right: 30px;
  }
  .p-instagram .insta-link span::before {
    height: 34px;
    width: 34px;
  }
  .p-instagram .insta-link span::after {
    height: 20px;
    width: 20px;
  }
}

.p-staff {
  background: #f1efea;
  padding: 20vw 0;
}

.p-staff__title {
  margin: 0 auto 40px;
  text-align: left;
}

.p-staff__img {
  width: 50%;
}

.p-staff__block {
  margin: 50px 0;
}

.p-staff .staff01 {
  padding-bottom: 50px;
  border-bottom: solid #d6d2d2 1px;
}

.p-staff__name {
  padding-top: 5vw;
}

.p-staff__name__ja {
  margin-bottom: 0;
}

.p-staff__name__en {
  margin-top: 5px;
  font-size: 10px;
}

.p-staff__desc {
  padding-top: 5vw;
  font-size: 12px;
}

.p-staff__desc__p {
  margin-bottom: 30px;
}

.p-price {
  padding: 20vw 0 25vw 0;
}

.p-price__title {
  text-align: left;
  margin-bottom: 40px;
}

.p-price__desc {
  font-size: 12px;
}

.p-price__desc__p {
  margin-bottom: 30px;
}

.p-price__list {
  padding-top: 15vw;
  letter-spacing: 1px;
  max-width: 100%;
}

.p-price__list dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 23px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.p-price__list dd,
.p-price__list dt {
  font-size: 0.8em;
  margin: 0;
}

.p-price__subtitle {
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.p-price__subtitle span {
  font-size: 0.6em;
}

.p-price__section {
  margin-bottom: 40px;
}

.p-price__img-wrap {
  position: relative;
  padding: 20vw 0 30vw 0;
}

.p-price__img {
  width: 60%;
}

.p-price__img img {
  -webkit-box-shadow: 15px 25px 45px #cecece;
          box-shadow: 15px 25px 45px #cecece;
}

.p-price__img.left {
  margin-top: 45vw;
}

.p-price .right {
  position: absolute;
  top: 18vw;
  right: 0;
}

.p-price li {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #646262;
}

.p-recruite {
  background-color: whitesmoke;
  padding: 35vw 0 20vw 0;
}

.p-recruite__title {
  text-align: left;
  margin-bottom: 10vw;
}

.p-recruite__subtitle {
  font-size: 0.9em;
  padding-bottom: 10px;
}

.p-access {
  padding: 20vw 0;
}

.p-access__title {
  padding-bottom: 5vw;
}

.p-access__item {
  margin-bottom: 5vw;
}

.p-access__item p {
  margin-bottom: 5px;
}

.p-access__g-map {
  text-align: right;
}

.p-access__g-map span {
  position: relative;
  display: inline-block;
  padding: 0 0 1vw 18px;
  border-bottom: 1px solid #a3a3a3;
}

.p-access__g-map span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  background-image: url(/images/common/icon-map.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}

.p-access__img {
  padding-top: 20vw;
}

.p-news {
  position: relative;
  padding: 10vw 0;
}

.p-news__tit {
  margin-bottom: 10vw;
}

.p-news__tit p {
  margin-bottom: -20px;
  font-weight: 100;
  letter-spacing: 5px;
}

.p-news__txt {
  margin: 5vw 0;
}

.p-news__link {
  display: block;
  padding: 5vw 0;
  font-size: 0.8rem;
}

.p-news__link p {
  margin-top: 2vw;
}

.p-news__link span {
  padding: 3px;
  border-radius: 5%;
  background-color: #f7f7f7;
}

.p-news__item {
  border-bottom: 1px solid #ebebeb;
}

.p-news__item:first-child {
  border-top: 1px solid #ebebeb;
}

.p-news .view-more {
  padding-right: 0;
  text-align: right;
  letter-spacing: 2px;
}

.p-news .view-more span {
  font-size: 0.9rem;
}

.p-footer {
  padding: 10vw 0;
  background-color: #eee7e7;
}

.p-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-footer__nav__item {
  width: 50%;
}

.p-footer .c-logo {
  text-align: center;
}

.p-footer .c-logo img {
  width: 25%;
  height: 35%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10vw;
}

.p-footer .sns-insta .sns-link {
  position: relative;
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 22px;
  -webkit-box-shadow: 0 12px 16px #b6b6b6;
          box-shadow: 0 12px 16px #b6b6b6;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.p-footer .sns-insta .sns-link i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url(/images/common/icon-insta-gr.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
}

.p-footer .sns-fb .sns-link {
  position: relative;
  display: block;
  float: left;
  width: 44px;
  height: 44px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 22px;
  -webkit-box-shadow: 0 12px 16px #b6b6b6;
          box-shadow: 0 12px 16px #b6b6b6;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.p-footer .sns-fb .sns-link i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url(/images/common/facebook-ico.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
}

.p-footer .copyright {
  text-align: center;
  margin-top: 5vw;
  font-size: 0.8rem;
}

.c-staff {
  padding: 0 0 15vw 0;
  letter-spacing: 3px;
  line-height: 2;
}

.c-staff__title span {
  padding-top: 4vw;
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  display: block;
}

.c-staff__title p {
  margin-top: 4vw;
  font-size: 0.5rem;
  line-height: 2;
}

.c-staff__img {
  height: 180px;
}

.c-staff__list {
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-staff__item {
  position: relative;
  margin-bottom: 30px;
  width: 45%;
}

.c-staff__name {
  text-align: center;
  font-size: 0.7rem;
}

.c-staff__desc {
  font-size: 0.5rem;
}

.c-staff .sns-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
}

.c-staff .sns-link span {
  position: relative;
  padding-left: 25px;
  font-size: 0.7rem;
}

.c-staff .sns-link span::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  background-image: url(/images/common/icon-insta-gr.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0.7rem;
  width: 0.7rem;
}

.c-recruite {
  padding: 0 0 10vw 0;
  letter-spacing: 3px;
  line-height: 2;
}

.c-recruite__title span {
  padding-top: 4vw;
  text-align: center;
  font-weight: 100;
  font-size: 1.8rem;
  display: block;
  color: #5a5a5a;
}

.c-recruite__title p {
  margin-top: 4vw;
  font-size: 0.5rem;
  line-height: 2;
}

.c-recruite__subtitle {
  font-size: 1rem;
}

.c-recruite__list {
  margin-top: 10vw;
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-recruite__item {
  margin-bottom: 20px;
}

.c-recruite__btn {
  margin-top: 20px;
  text-align: right;
  letter-spacing: 2px;
  font-size: 0.7rem;
}

.c-recruite__btn span {
  position: relative;
  padding-left: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #949494;
}

.c-recruite__btn span::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-image: url(/images/common/icon-tel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.c-recruite__name {
  text-align: center;
  font-size: 0.7rem;
}

.c-recruite__desc {
  font-size: 0.5rem;
}

.c-news {
  padding: 6vw 0 5vw 0;
  letter-spacing: 3px;
}

.c-news__link {
  display: block;
  padding: 5vw 0;
}

.c-news__link p {
  margin-top: 2vw;
  font-size: 0.8rem;
}

.c-news__date {
  color: #5a5a5a;
}

.c-news__item {
  border-bottom: 1px solid #ebebeb;
}

.c-news__item:first-child {
  border-top: 1px solid #ebebeb;
}

.c-news .page-numbers {
  margin: 12vw 0;
}

.c-news .page-numbers:not(.next):not(.prev) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2b2b2b;
}

.c-news .page-numbers:not(.next):not(.prev) .current {
  border: 1px solid rgba(0, 0, 0, 0);
  background: #dffde2 !important;
}

.c-news .page-numbers:not(.next):not(.prev) .page-numbers:not(.next):not(.prev) {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  border: 1px solid #c4ccd1;
  background: #fff;
  margin: 0 1.3vw;
}

.c-news .page-numbers:not(.next):not(.prev) .next {
  position: relative;
  padding-right: 22px;
  top: 0;
}

.c-news .page-numbers:not(.next):not(.prev) .next::after {
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  content: "";
  position: absolute;
  right: 0;
  background-image: url(/images/common/arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0;
  width: 15px;
  height: 15px;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .c-news .page-numbers:not(.next):not(.prev) .next {
    display: none;
  }
}

@media (min-width: 768px) {
  .c-news .page-numbers:not(.next):not(.prev) .page-numbers:not(.next):not(.prev) {
    width: 40px;
    height: 40px;
  }
  .c-news .page-numbers:not(.next):not(.prev) .next {
    top: 0;
    padding-left: 10px;
  }
}

.c-news__contents {
  line-height: 2;
  font-size: 0.8rem;
}

.c-news__title {
  text-align: center;
  margin-bottom: 6vw;
  letter-spacing: 2px;
  font-weight: 100;
}

.c-news .c-news__block {
  padding: 8vw 0;
}

.c-news-sl .c-container {
  padding: 10vw 5vw;
}

.c-news-sl__date {
  color: #a0a0a0;
}

.c-news-sl__contents {
  padding: 12vw 0;
  line-height: 2.5;
}

.c-news-sl__contents p {
  font-size: 0.8rem;
}

.c-news-sl__link {
  text-align: right;
  font-size: 1rem;
  letter-spacing: 2px;
}

.c-news-sl__link a {
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid #727272;
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のモニタで適用

******************************************************************/
  .c-container {
    padding: 0 10vw;
  }
  .c-txt-lr {
    font-size: 1.4rem;
  }
  .reserve-btn-js {
    display: none;
  }
  .header .mobile-container {
    height: 74px;
  }
  .header .logo__img {
    margin-left: 40px;
  }
  .header .logo {
    height: 70px;
    width: 120px;
  }
  .header .mobile-button {
    top: 25px;
    right: 40px;
  }
  .header .sp-navbtn {
    display: none;
  }
  .p-firstview .swiper-container {
    height: 100vh;
  }
  .p-concept {
    padding: 10vw 0;
  }
  .p-price {
    padding: 20vw 0 15vw 0;
  }
  .p-price__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-price__block {
    width: 46%;
  }
  .p-price__img-wrap {
    padding: 15vw 0;
  }
  .p-price__img {
    width: 50%;
  }
  .p-price .right {
    top: 5vw;
  }
  .p-recruite {
    padding: 5vw 0;
  }
  .p-access {
    padding: 10vw 0;
  }
  .p-access__img {
    padding-top: 10vw;
  }
  .p-access .simpleParallax {
    text-align: center;
  }
  .p-access .simpleParallax img {
    width: 80%;
  }
  .p-footer .c-logo img {
    width: 20%;
  }
  .c-recruite__title span {
    padding-top: 3vw;
    font-size: 2rem;
  }
  .c-recruite__title p {
    font-size: 0.8rem;
  }
  .c-recruite__list {
    margin-top: 5vw;
  }
  .c-recruite__subtitle {
    font-size: 1rem;
  }
  .c-recruite__text {
    font-size: 0.8rem;
  }
  .c-staff__img {
    height: 240px;
  }
  .c-staff__title p {
    font-size: 0.8rem;
  }
  .c-staff__item {
    margin-bottom: 40px;
  }
  .c-staff__name {
    margin: 20px;
    font-size: 1.2rem;
  }
  .c-staff__desc {
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
  .c-staff .sns-link span {
    font-size: 0.9rem;
  }
  .c-staff .sns-link span::before {
    height: 1.1rem;
    width: 1.1rem;
    top: 0px;
    right: 10px;
  }
  .c-news-sl .c-container {
    padding: 5vw 10vw;
  }
  .c-news-sl__date {
    font-size: 1.2rem;
  }
  .c-news-sl__tit p {
    font-size: 1.2rem;
  }
  .c-news-sl__contents {
    padding: 4vw 0;
  }
  .c-news-sl__contents p {
    font-size: 0.9rem;
  }
  .c-news__title span {
    font-size: 1.8rem;
  }
  .c-news__list p {
    font-size: 1.2rem;
  }
  .c-news__link {
    padding: 2.5vw;
  }
  .c-news__date {
    font-size: 1.2rem;
  }
  .c-news .page-numbers {
    margin: 8vw 0 4vw 0;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .c-container {
    padding: 0 15vw;
  }
  .c-txt-lr {
    font-size: 2rem;
    letter-spacing: 5px;
    line-height: 2;
    color: #5a5a5a;
    margin-top: 0;
    font-weight: 100;
  }
  .c-txt-md {
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2;
    color: #5a5a5a;
    margin: 0;
  }
  .c-txt-sm {
    font-size: 1.2rem;
    letter-spacing: 3px;
    line-height: 2;
    color: #5a5a5a;
  }
  .c-txt-xs {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 2;
    color: #5a5a5a;
  }
  .view-more span {
    font-size: 1.4rem;
  }
  .header .logo__img {
    margin-left: 50px;
  }
  .header .logo {
    height: 80px;
    width: 160px;
  }
  .header .mobile-button {
    top: 25px;
    right: 40px;
  }
  .header .pc-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6000;
    border-bottom: 1px solid #242424;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .header .pc-container .pc-nav-item {
    padding-top: 2.3vw;
  }
  .p-firstview .swiper-container {
    height: 100vh;
  }
  .p-price__section {
    font-size: 1.1rem;
  }
  .p-price .right {
    top: 15vw;
  }
  .p-staff {
    padding: 12vw 0;
  }
  .p-staff__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .p-staff__img {
    margin-top: 8vw;
    width: 40%;
  }
  .p-staff__img img {
    height: auto;
  }
  .p-staff__wrap {
    width: 50%;
  }
  .p-news__link {
    padding: 4vw;
    font-size: 1.2rem;
  }
  .p-news .view-more__link span {
    font-size: 1.4rem;
  }
  .p-footer .sns-insta .sns-link {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 40px;
  }
  .p-footer .sns-insta .sns-link i {
    height: 30px;
    width: 30px;
  }
  .p-footer .sns-fb .sns-link {
    width: 70px;
    height: 70px;
    border-radius: 40px;
  }
  .p-footer .sns-fb .sns-link i {
    height: 30px;
    width: 30px;
  }
  .p-footer .copyright {
    font-size: 1.2rem;
  }
  .p-access__g-map span {
    padding-left: 40px;
  }
  .p-access__g-map span::before {
    height: 30px;
    width: 30px;
  }
  .p-footer {
    padding: 7vw 0;
  }
  .p-footer__sns {
    margin-bottom: 7vw;
  }
  .c-staff {
    padding: 0 0 5vw 0;
  }
  .c-staff__title p {
    font-size: 1rem;
  }
  .c-staff__item {
    width: 30%;
    margin-bottom: 5vw;
  }
  .c-staff__desc {
    font-size: 0.8rem;
  }
  .c-staff__list {
    margin-top: 5vw;
  }
  .c-staff__name {
    font-size: 1.2rem;
  }
  .c-staff__desc {
    font-size: 1rem;
  }
  .c-staff .sns-link span {
    font-size: 1.2rem;
  }
  .c-staff .sns-link span::before {
    height: 1.2rem;
    width: 1.2rem;
    top: 0px;
    right: 10px;
  }
  .c-recruite {
    padding: 0 0 10vw 0;
  }
  .c-recruite__title p {
    margin-top: 3vw;
    font-size: 1rem;
  }
  .c-recruite__subtitle {
    font-size: 1.2rem;
  }
  .c-recruite__text {
    font-size: 1rem;
  }
  .c-recruite__btn {
    display: none;
  }
  .c-news__title {
    font-size: 2rem;
    margin-bottom: 6vw;
  }
  .c-news-sl .c-container {
    padding: 5vw 12vw;
  }
  .c-news-sl__tit p {
    font-size: 1.6rem;
  }
  .c-news-sl__date {
    font-size: 1.6rem;
  }
  .c-news-sl__contents {
    padding: 5vw 0;
  }
  .c-news-sl__contents p {
    font-size: 1.2rem;
  }
  .c-news-sl__link {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  /******************************************************************

Stylesheet: 1200px以上のモニタで適用

******************************************************************/
  .p-firstview .swiper-container .view-sp {
    display: none;
  }
  .p-price {
    padding-bottom: 0;
  }
  .p-price__img-wrap {
    padding: 10vw 0;
  }
  .p-news {
    padding: 0 0 10vw 0;
  }
  .p-news__tit {
    margin-bottom: 5vw;
  }
  .p-news__link {
    padding: 2vw 5vw;
  }
  .p-news .view-more {
    margin-top: 5vw;
  }
  .p-footer {
    padding: 5vw 0;
  }
  .p-footer__sns {
    margin-bottom: 5vw;
  }
  .c-news__title {
    margin-bottom: 5vw !important;
  }
  .c-news__list {
    font-size: 1.5rem;
  }
  .c-news__list a {
    padding: 2.5vw 0 2.5vw 5vw;
  }
  .c-news-sl .c-container {
    padding: 5vw 12vw;
  }
}
/*# sourceMappingURL=style.css.map */